<<<<<<< HEAD
.container {
  max-width: 600px;
  margin: 40px auto;
  font-family: sans-serif;
}

.form input {
  margin-right: 8px;
  padding: 6px;
}

.form button {
  margin-right: 6px;
  padding: 6px 10px;
}

.filtro button {
  margin-right: 5px;
  padding: 6px 10px;
}

.filtro.ativo {
  background-color: #007bff;
  color: white;
}
.lista {
  list-style: none;
  padding: 0;
}
lista li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.badge {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
  margin-left: 10px;
}
.badge.maior {
  background-color: #4caf50;
  color: white;
}

.badge.menor {
  background-color: #f44336;
  color: white;
=======
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e1e1;
  
}
.container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

input {
  padding: 8px;
  margin: 10px;
  border: 1px solid #807f7f;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: rgb(136, 133, 133);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
>>>>>>> a6420aa5ffadddf1f5736cd1c488f79676f21445
}